# This is Git's per-user configuration file.
[user]
	email = 6026454+unknownbreaker@users.noreply.github.com
	name = unknownbreaker
[core]
  excludesfile = /Users/robertyang/.gitignore_global
[pull]
  rebase = false
[init]
  defaultBranch = main
[fetch]
	prune = true
