.DS_Store
Session.vim
**/Session.vim
.session.vim
**/.session.vim
Sublime Text 3/
Vim/.vimrc.swp
Vim/.vim/undo
Vim/.vim/bundle/YouCompleteMe/third_party/
Vim/.vim/.netrwhist
iTerm/com.googlecode.iterm2.plist
tmux/.tmux/resurrect/
Nvim/nvim/Session.vim
Nvim/nvim/.session.vim
Nvim/nvim/.netrwhist
Nvim/nvim/plugged
