.DS_Store
Session.vim
.session.vim
Sublime Text 3/
tags.lock
tags.temp
**/tags.lock
**/tags.temp
Vim/.vimrc.swp
Vim/.vim/undo
Vim/.vim/bundle/
Vim/.vim/.netrwhist
iTerm/com.googlecode.iterm2.plist
Tmux/.tmux/plugins/
Tmux/.tmux/resurrect/
Tmux/.tmux/resurrect/last
Neovim/.config/nvim/Session.vim
Neovim/.config/nvim/.session.vim
Neovim/.config/nvim/.netrwhist
Neovim/.config/nvim/plugged/
Neovim/.config/coc/extensions/node_modules/
Neovim/.config/nvim/undo/*
Neovim/.config/nvim/backup/*
Neovim/.config/nvim/swap/*
