[submodule "Sublime Text 3/Packages/LiveReload"]
	path = Sublime Text 3/Packages/LiveReload
	url = https://github.com/alepez/LiveReload-sublimetext3
[submodule "Vim/.vim/bundle/ctrlp.vim"]
	path = Vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "Vim/.vim/bundle/nerdtree"]
	path = Vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "Vim/.vim/bundle/syntastic"]
	path = Vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "Vim/.vim/bundle/tabular"]
	path = Vim/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "Vim/.vim/bundle/vim-colors-solarized"]
	path = Vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "Vim/.vim/bundle/vim-gitgutter"]
	path = Vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "Vim/.vim/bundle/vim-javascript"]
	path = Vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "Vim/.vim/bundle/vim-surround"]
	path = Vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "Vim/.vim/bundle/vim-fugitive"]
	path = Vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
