[submodule "Sublime Text 3/Packages/LiveReload"]
	path = Sublime Text 3/Packages/LiveReload
	url = https://github.com/alepez/LiveReload-sublimetext3
[submodule "Vim/.vim/bundle/ctrlp.vim"]
	path = Vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "Vim/.vim/bundle/nerdtree"]
	path = Vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "Vim/.vim/bundle/syntastic"]
	path = Vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "Vim/.vim/bundle/tabular"]
	path = Vim/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "Vim/.vim/bundle/vim-colors-solarized"]
	path = Vim/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "Vim/.vim/bundle/vim-gitgutter"]
	path = Vim/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "Vim/.vim/bundle/vim-javascript"]
	path = Vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "Vim/.vim/bundle/vim-surround"]
	path = Vim/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "Vim/.vim/bundle/vim-fugitive"]
	path = Vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "Vim/.vim/bundle/supertab"]
	path = Vim/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "Vim/.vim/bundle/vim-endwise"]
	path = Vim/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "Vim/.vim/bundle/vim-cucumber"]
	path = Vim/.vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "Vim/.vim/bundle/vim-ruby"]
	path = Vim/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "Vim/.vim/bundle/vim-markdown"]
	path = Vim/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "Vim/.vim/bundle/vim-mustache-handlebars"]
	path = Vim/.vim/bundle/vim-mustache-handlebars
	url = git://github.com/mustache/vim-mustache-handlebars.git
[submodule "Vim/.vim/bundle/nerdcommenter"]
	path = Vim/.vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "Vim/.vim/bundle/cosco.vim"]
	path = Vim/.vim/bundle/cosco.vim
	url = git@github.com:lfilho/cosco.vim.git
[submodule "Vim/.vim/bundle/vim-jsbeautify"]
	path = Vim/.vim/bundle/vim-jsbeautify
	url = git@github.com:maksimr/vim-jsbeautify.git
[submodule "Vim/.vim/bundle/vimwiki"]
	path = Vim/.vim/bundle/vimwiki
	url = git@github.com:vimwiki/vimwiki.git
[submodule "Zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = Zsh/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
